release/
build/
private/
/phishlets
!/phishlets/example.yaml

# Temporary files
*.swp
*.swo
*~

# IDE files
.vscode/
.idea/
*.sublime-*

# Logs
*.log
logs/

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
